
.content{
  grid-area: c;
  background-color: darkgreen;
}

.post {
  margin-top:10px;
}

.middle{
  padding-left: 10px;
}

.middle h1{
  text-align: center;
}

.forma{
  width: 500px;
  margin-left: 25%;
}
.main {
  border: 1px black solid;
  display: flex;
  flex-flow: column;
  margin: 10px;
  box-shadow: 4px 7px 10px;
}


.title {
  font-family: monospace;
  font-size: 15px;
  padding-left: 10px;
  display: flex;
  flex-flow: row;
}

.title img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-top: 5px;
}

.user {
  margin-left: 1%;
  padding-top: 1%;
}

.comment {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.postContent h1{
  display: flex;
  justify-content: center;
  
}

.postContent{
  word-wrap: break-word;
  width: 1000px;
}

.NavLink{
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
  width: 150px;
  text-align: center;
 
}

.forma{
  width: 500px;
  padding-top: 20px;
  
}

.titl{
  display: flex;
  flex-flow: column;
  padding-bottom: 10px;
}
.desc{
  display: flex;
  flex-flow: column;
  padding-bottom: 10px;
}

.addbtn{
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
  width: 150px;
  text-align: center;
}

.inp{
  padding: 10px;
  font-size: 30px;
  border: 10px solid rgba(255, 255, 255, .5);
  @include box-shadow(
  0 2px 10px rgba(0, 0, 0, .25) inset,
  0 2px 10px rgba(0, 0, 0, .25));
  @include border-radius(10px);
  background: rgba(255, 255, 255, .5);
  @include appearance(none);
  outline: none;
  color: #333;
  width: 50%;

  left: 25%;
}