.header{
  grid-area: h;
  background-color:black;
  height:120px;
  display: flex;
  justify-content: space-between;
}

.header img{
  width: 200px;
  height: 90px;
 
}

.header h5{
  color: white;
  padding-left: 50px;
  margin: auto;
}
header a {
  color:white;
  display: flex;
  text-decoration: none;
  flex-flow: row;
  padding-right: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}


.reg {
  display: flex;
  flex-flow: row;
  margin-right  : 10px;
 
}

.flexstyle{
  display: flex;
  flex-flow:column;
}

.NavLink{
  color:white;
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  text-decoration: none;
  
}

.reg :visited{
  color:white;
  display: flex;
  text-decoration: none;
  flex-flow: row;
  padding-right: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.a:visited{
  color:white;
  display: flex;
  text-decoration: none;
  flex-flow: row;
  padding-right: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}