.comment_card {
    border: solid 2px rgba(128, 128, 128, 0.185);
    max-width: 80%;
    margin: 15px;
    
}

.card {
    float: center;
    margin: 0 auto;
    text-align: center;
}

.date {
    display: inline-block;
    font-size: 10px;
    float: left;
}

.user_id {
    display: inline-block;
    font-size: 10px;
    float: right;
}

.comment {
    padding-top: 10px;
}

.button {
    font-size: 14px;
    margin: 10px;
    background-color: rgba(75, 72, 72, 0.055);
    border: solid 2px gray;
    border-radius: 3px;
}

.comment_input {
    min-height: 200px;
    font-size: 14px;
    border: 2px solid gray;
    width: 80%;
    height: 60%;
    resize: none;
    border-radius: 5px;
}
.addbtn{
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
  width: 150px;
  text-align: center;
}

.flex{
  display: flex;
  flex-flow: column;
}