.post {
    padding-top: 20px;
    text-align: center;
}

.card {
    min-height: 300px;
    margin: 10px auto;
    max-width: 60%;
    margin-top: 30px;
}

.link {
    padding: 20px 0 10px 0;
    text-align: center;
    cursor: default;
    text-decoration: none;
    color: black;
}

.date {
    display: inline-block;
    font-size: 14px;
    float: left;
}

.user_id {
    display: inline-block;
    font-size: 14px;
    float: right;
}

.title_input {
    margin-top: 30px;
    margin-right: 150px;
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 3px;
    width: 30%;
    margin-bottom: 10px;
}

.description_input {
    min-height: 200px;
    font-size: 14px;
    border: 2px solid gray;
    width: 60%;
    height: 60%;
    resize: none;
    border-radius: 5px;
}

.button {
    margin: 10px;
}

.addbtn{
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
  width: 150px;
  text-align: center;
}

.flex{
  display: flex;
  flex-flow: column;
}