.root{
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.forma{
  display: flex;
  flex-flow: column;
  width: 200px;
  
  
}

.btn{
  margin-top: 7%;
  width: 50px;
}

