.app-wrapper{
  display: grid;

  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 0 auto;
  /* grid-gap: 10px; */

  grid-template-areas: 
  "h h"
  "n c";
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(109, 120, 109);
  min-height:1001px;
 
}

